
            <div class="bg-view">
                <div class="row ">
                    <div class="col-12">
                        <h2 class="table-heading">
                            This User IS <%= (@user.role).upcase_first %>
                        </h2>
                    </div>
                </div>


                                
                    <div class="card">
                                <h1 class="applicant">
                                     User  Detail

                                    <p>This view Show user Detail</p>
                                </h1>
                                <div class="border"></div>
                                  <div class="row">
                        <div class="col-4">
                            <ul>
                                <div class="d-flex justify-content-between view-detail align-items-center">
                                    <li class="">Name</li>
                                   
                                    <p> <%= @user.name %></p>
                                </div>
                                 <div class="d-flex justify-content-between view-detail align-items-center">
                                    <li class="">Email</li>
                                    <p> <%= @user.email %></p>

                                </div>
                                 <div class="d-flex justify-content-between view-detail align-items-center">
                                    <li class="">Department</li>
                                    <p> <%= @user.department %></p>

                                </div>
                               
                              
                                 <div class="d-flex justify-content-between view-detail align-items-center">
                                    <li class="">Role</li>
                                     <p> <%= @user.role %></p>

                                   
                                </div>
                            </ul>
                        </div>
                        </div> 
                      
                    </div>

   

  <div class="card mt-5">

      <div class="row ">
                <div class="col-12">

                    <table class="table">
                        <thead>
                            <tr>    
                                <th scope="col">Id</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Client</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">User</th>
                                <th scope="col">Pay Link</th>

                                
                            

                                


                            </tr>
                        </thead>
                        <tbody>
                                <% @invoices.each do |i| %>
                            <tr>
                                <th scope="row">#001</th>
                                <td>  
                                
                                <%= link_to "#{i.company.name}", company_path(i.company.id) %>
                               
                               </td>
                                <td>
                                   <%= link_to "#{i.client.name}", client_path(i.client.id) %>
                                </td>
                                <td> <%= humanized_money_with_symbol(i.total)  %></td>
                                <td class="status payment-status-<%= i.status %>"><span><%= i.status %></span></td>
                                <td>
                                    <%= i.user.name %> <span>(<%= i.user.role %>)</span>
                                </td>
                                 
                              <% if i.payment_link %>
                <td >

                <input id="copyText" value="http://127.0.0.1:3000/invoice/<%= i.payment_link %>"  data-bs-toggle="tooltip" data-bs-placement="top" title="Click Copy To Text">

                </td>
                <% else %>
                <td></td>
                <% end %>
                              
                                
                              

                            </tr>
                        <% end %>

                          

               
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
<div class="col-12">

<%= will_paginate @invoices, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-end) %>

</div>

</div>

            </div>
            

            </div>





        </div>

            <div class="row">
                <div class="col-6">
                <div class="chart-box">
                    <h3>Target Achieved</h3>
                       <%= line_chart @target_achieved, prefix: "$", thousands: "," %>
                </div>
            </div>
            <div class="col-6">
                <div class="chart-box">
                    <h3>Refunded</h3>
                    <% if @refunded_amount %>
                       <%= line_chart @refuned_invoice, prefix: "$", thousands: "," %>
                       <% else  %>
                    <p>No refunded invoice</p>

                    <% end %>
                </div>
            </div>
        </div>
 
 
 