
      <div class="bg">

                <div class="row justify-content-center align-items-center">
                    <div class="col-12">
                        <h2 class="table-heading">
                        User Sales Targets
                                                    </h2>
                        
                    </div>

                </div>
                <div class="row align-items-center justify-content-between mb-3">
                    
                    <div class="col-8">
                        <div class="input-group  search-bar">
                            <input type="text" class="form-control" placeholder="Search"
                                aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>

                    </div>
                    <div class="col-2">
                    <%= link_to "Add Target", new_user_sales_target_path, class: "btn btn-primary create-btn", data:{turbo:false} %>
                    </div>
                </div>


            </div>
            <div class="row justify-content-center">
                <div class="col-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Company</th>
                                <th scope="col">Target</th>
                                <th scope="col"></th>
                                
                            


                            </tr>
                        </thead>
                        <tbody>

                          
                    
              <% @user_sales_targets.each do |target| %>

                            <tr id="<%= dom_id target %>">
                                <td><%= target.user.name %></td>
                                <td>
                                            <%= humanized_money_with_symbol(target.target) %>
                                </td>
                                <td>
                                <ul class="d-flex action-btn">
                                        <li> <%= link_to "View", target %></li>
                                        <li> <%= link_to "Edit", edit_user_sales_target_path(target) %></li>
                                        <li> <%= button_to "Delete", target, method: :delete, data: { confirm: 'Are you sure?' }%></li>

                                    </ul>
                                </td>

                            </tr>

      
      
       <% end %>
       
    


               
                        </tbody>
                    </table>
                </div>
            </div>















